@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "_Layout.cshtml";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">@Model.Name</h1>

        @if (Model.HasValue("summary"))
        {
            <p class="govuk-body-l">@Model.Value("summary")</p>
        }

        @{
            var heroImage = Model.Value<Umbraco.Cms.Core.Models.MediaWithCrops>("heroImage");
            var heroAlt = heroImage?.Value<string>("altText") ?? string.Empty;
        }
        @if (heroImage is not null)
        {
            <figure class="govuk-!-margin-bottom-6">
                <img src="@heroImage.Url()" alt="@heroAlt" class="govuk-!-width-full" />
            </figure>
        }

        @if (Model.HasValue("main"))
        {
            <div class="govuk-body">@Html.Raw(Model.Value("main"))</div>
        }
    </div>

    <div class="govuk-grid-column-one-third">
        @await Component.InvokeAsync("SideNav", new { currentPage = Model })
    </div>
</div>
